# Explore here

It's recommended to use this notebook for exploration purposes.

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as pyplot

In [11]:
url = "https://raw.githubusercontent.com/4GeeksAcademy/logistic-regression-project-tutorial/main/bank-marketing-campaign-data.csv"
df_raw = pd.read_csv(url, sep = ";")

In [5]:
df_raw.info()
#Info sobre data types y nulls

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 21 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             41188 non-null  int64
 1   job             41188 non-null  object
 2   marital         41188 non-null  object
 3   education       41188 non-null  object
 4   default         41188 non-null  object
 5   housing         41188 non-null  object
 6   loan            41188 non-null  object
 7   contact         41188 non-null  object
 8   month           41188 non-null  object
 9   day_of_week     41188 non-null  object
 10  duration        41188 non-null  int64
 11  campaign        41188 non-null  int64
 12  pdays           41188 non-null  int64
 13  previous        41188 non-null  int64
 14  poutcome        41188 non-null  object
 15  emp.var.rate    41188 non-null  float64
 16  cons.price.idx  41188 non-null  float64
 17  cons.conf.idx   41188 non-null  float64
 18  euribor3m       41188 non-null  float64
 19  nr.employed     41188 non-null  float64
 20  y               41188 non-null  object
dtypes: float64(5), int64(5), object(11)
memory usage: 6.6+ MB

In [8]:
df_raw.head(5)

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,...,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no

* Drop duplicate rows:

In [23]:
df_raw = df_raw.drop_duplicates()

* Chequeamos en cada variable de type 'object' si hay 'unknown':

In [24]:
df_raw['job'].value_counts()

admin.           10419
blue-collar       9253
technician        6739
services          3967
management        2924
retired           1718
entrepreneur      1456
self-employed     1421
housemaid         1060
unemployed        1014
student            875
unknown            330
Name: job, dtype: int64

In [25]:
df_raw['marital'].value_counts()

married     24921
single      11564
divorced     4611
unknown        80
Name: marital, dtype: int64

In [26]:
df_raw['education'].value_counts()

university.degree      12164
high.school             9512
basic.9y                6045
professional.course     5240
basic.4y                4176
basic.6y                2291
unknown                 1730
illiterate                18
Name: education, dtype: int64

In [27]:
df_raw['default'].value_counts()

no         32577
unknown     8596
yes            3
Name: default, dtype: int64

In [28]:
df_raw['housing'].value_counts()

yes        21571
no         18615
unknown      990
Name: housing, dtype: int64

In [29]:
df_raw['loan'].value_counts()

no         33938
yes         6248
unknown      990
Name: loan, dtype: int64

In [30]:
df_raw['contact'].value_counts()

cellular     26135
telephone    15041
Name: contact, dtype: int64

In [18]:
df_raw['month'].value_counts()

may    13769
jul     7174
aug     6178
jun     5318
nov     4101
apr     2632
oct      718
sep      570
mar      546
dec      182
Name: month, dtype: int64

In [31]:
df_raw['day_of_week'].value_counts()

thu    8618
mon    8512
wed    8134
tue    8086
fri    7826
Name: day_of_week, dtype: int64

In [32]:
df_raw['poutcome'].value_counts()

nonexistent    35551
failure         4252
success         1373
Name: poutcome, dtype: int64

In [33]:
df_raw['y'].value_counts()

no     36537
yes     4639
Name: y, dtype: int64

* Reemplazamos los unknown por los valores más frecuentes en las variables categóricas:

In [43]:
df_raw.loc[df_raw["marital"] == "unknown", "marital"] = "married"
df_raw.loc[df_raw["job"] == "unknown", "job"] = "admin."
df_raw.loc[df_raw["education"] == "unknown", "education"] = "university.degree"
df_raw.loc[df_raw["default"] == "unknown", "default"] = "no"
df_raw.loc[df_raw["housing"] == "unknown", "housing"] = "yes"
df_raw.loc[df_raw["loan"] == "unknown", "loan"] = "no"

In [ ]:
#Lo del chunk anterior también se puede hacer con boolean condition
#Just leaving it here for educational purposes :)

#boolean_condition = df.marital == 'Unknown'
#column_name = "marital"
#new_value = "married"

#dfraw.loc[boolean_condition, column_name] = new_value

* Reemplazamos los unknown por la media en las variables numéricas:

In [ ]:
#Creating a function that works in all those categories is a good practice.

In [44]:
df_raw['age'].unique()

array([56, 57, 37, 40, 45, 59, 41, 24, 25, 29, 35, 54, 46, 50, 39, 30, 55,
       49, 34, 52, 58, 32, 38, 44, 42, 60, 53, 47, 51, 48, 33, 31, 43, 36,
       28, 27, 26, 22, 23, 20, 21, 61, 19, 18, 70, 66, 76, 67, 73, 88, 95,
       77, 68, 75, 63, 80, 62, 65, 72, 82, 64, 71, 69, 78, 85, 79, 83, 81,
       74, 17, 87, 91, 86, 98, 94, 84, 92, 89])

In [45]:
list(df_raw['duration'].unique()) #Abrimos como text editor, control F y buscamos unknown

[261,
 149,
 226,
 151,
 307,
 198,
 139,
 217,
 380,
 50,
 55,
 222,
 137,
 293,
 146,
 174,
 312,
 440,
 353,
 195,
 38,
 262,
 342,
 181,
 172,
 99,
 93,
 233,
 255,
 362,
 348,
 386,
 73,
 230,
 208,
 336,
 365,
 1666,
 577,
 366,
 314,
 160,
 212,
 188,
 22,
 616,
 178,
 355,
 225,
 266,
 253,
 179,
 269,
 135,
 161,
 787,
 145,
 449,
 812,
 164,
 357,
 232,
 91,
 273,
 158,
 177,
 200,
 176,
 211,
 214,
 1575,
 349,
 337,
 272,
 193,
 165,
 1042,
 20,
 246,
 529,
 192,
 1467,
 180,
 48,
 213,
 545,
 583,
 221,
 426,
 287,
 197,
 257,
 229,
 400,
 190,
 21,
 300,
 123,
 325,
 514,
 849,
 194,
 286,
 247,
 518,
 364,
 98,
 439,
 79,
 175,
 61,
 78,
 102,
 579,
 143,
 677,
 267,
 345,
 185,
 207,
 69,
 100,
 125,
 461,
 240,
 70,
 136,
 528,
 541,
 338,
 163,
 87,
 301,
 46,
 52,
 204,
 155,
 71,
 243,
 186,
 559,
 2033,
 85,
 506,
 114,
 843,
 427,
 292,
 128,
 107,
 303,
 81,
 270,
 228,
 673,
 250,
 130,
 252,
 138,
 412,
 19,
 717,
 313,
 289,
 683,
 1077,
 167,
 356,
 277,
 218,
 67,
 291,
 248,
 256,
 477,
 611,
 471,
 381,
 251,
 408,
 322,
 216,
 210,
 288,
 168,
 132,
 64,
 209,
 410,
 580,
 127,
 189,
 238,
 124,
 18,
 730,
 40,
 142,
 389,
 702,
 117,
 370,
 119,
 361,
 350,
 150,
 332,
 58,
 89,
 152,
 110,
 463,
 962,
 10,
 118,
 92,
 75,
 935,
 56,
 5,
 206,
 446,
 742,
 120,
 122,
 215,
 205,
 83,
 106,
 108,
 358,
 453,
 173,
 241,
 224,
 148,
 199,
 196,
 111,
 231,
 316,
 669,
 425,
 121,
 88,
 402,
 144,
 220,
 254,
 503,
 680,
 421,
 113,
 347,
 404,
 396,
 379,
 306,
 77,
 54,
 344,
 202,
 278,
 184,
 235,
 290,
 133,
 318,
 437,
 501,
 1201,
 1030,
 769,
 442,
 455,
 424,
 43,
 154,
 393,
 203,
 140,
 326,
 483,
 259,
 227,
 576,
 90,
 505,
 245,
 623,
 496,
 276,
 744,
 271,
 141,
 264,
 309,
 1623,
 101,
 354,
 451,
 159,
 170,
 112,
 53,
 134,
 678,
 182,
 162,
 27,
 699,
 1677,
 310,
 47,
 30,
 472,
 116,
 448,
 169,
 157,
 49,
 374,
 531,
 153,
 80,
 568,
 918,
 82,
 166,
 369,
 371,
 263,
 41,
 13,
 26,
 792,
 242,
 268,
 375,
 383,
 1297,
 502,
 260,
 105,
 524,
 352,
 695,
 76,
 535,
 390,
 315,
 36,
 1906,
 219,
 147,
 407,
 65,
 284,
 285,
 258,
 635,
 802,
 57,
 304,
 392,
 201,
 329,
 328,
 191,
 532,
 416,
 37,
 530,
 29,
 311,
 507,
 333,
 739,
 339,
 308,
 467,
 378,
 1597,
 346,
 60,
 716,
 234,
 296,
 283,
 109,
 95,
 31,
 593,
 631,
 32,
 1529,
 800,
 239,
 42,
 305,
 343,
 126,
 249,
 59,
 51,
 275,
 479,
 96,
 720,
 395,
 629,
 131,
 298,
 97,
 104,
 852,
 294,
 74,
 992,
 464,
 732,
 359,
 274,
 1521,
 615,
 327,
 236,
 492,
 1138,
 295,
 591,
 786,
 388,
 25,
 401,
 435,
 423,
 799,
 45,
 68,
 444,
 223,
 566,
 376,
 511,
 866,
 1581,
 279,
 129,
 432,
 516,
 617,
 171,
 614,
 485,
 406,
 650,
 590,
 72,
 474,
 1101,
 912,
 1062,
 688,
 103,
 607,
 331,
 398,
 803,
 481,
 418,
 24,
 441,
 1009,
 550,
 764,
 1273,
 1574,
 62,
 517,
 299,
 244,
 548,
 66,
 984,
 1689,
 84,
 489,
 865,
 281,
 944,
 319,
 35,
 17,
 280,
 156,
 813,
 94,
 183,
 604,
 86,
 11,
 405,
 462,
 39,
 187,
 323,
 521,
 1119,
 12,
 1120,
 33,
 784,
 665,
 475,
 63,
 712,
 1007,
 237,
 500,
 789,
 513,
 468,
 756,
 14,
 491,
 44,
 989,
 1170,
 807,
 534,
 28,
 302,
 2087,
 767,
 627,
 403,
 626,
 23,
 543,
 1178,
 422,
 15,
 335,
 956,
 459,
 4,
 985,
 672,
 8,
 330,
 399,
 297,
 886,
 341,
 515,
 1187,
 466,
 826,
 598,
 584,
 847,
 659,
 772,
 929,
 710,
 498,
 705,
 480,
 2462,
 1132,
 384,
 825,
 490,
 115,
 646,
 653,
 377,
 544,
 324,
 391,
 654,
 1087,
 557,
 1692,
 622,
 2016,
 1054,
 282,
 409,
 1713,
 551,
 663,
 1080,
 1461,
 750,
 488,
 460,
 878,
 317,
 834,
 1534,
 836,
 1002,
 592,
 757,
 523,
 363,
 1147,
 486,
 539,
 820,
 788,
 832,
 1111,
 1495,
 493,
 457,
 891,
 1083,
 1266,
 470,
 793,
 413,
 574,
 596,
 320,
 484,
 456,
 334,
 504,
 907,
 723,
 1346,
 520,
 382,
 1386,
 428,
 360,
 3366,
 1000,
 618,
 351,
 2231,
 373,
 340,
 1167,
 609,
 806,
 766,
 1015,
 768,
 473,
 1001,
 845,
 853,
 452,
 916,
 443,
 431,
 565,
 753,
 708,
 265,
 434,
 805,
 3,
 420,
 367,
 394,
 411,
 34,
 851,
 1052,
 647,
 771,
 1093,
 1106,
 945,
 816,
 1721,
 1032,
 735,
 438,
 942,
 387,
 476,
 606,
 824,
 1328,
 686,
 1125,
 1321,
 858,
 546,
 429,
 869,
 833,
 829,
 749,
 1028,
 977,
 927,
 762,
 746,
 1044,
 668,
 726,
 634,
 554,
 436,
 902,
 594,
 636,
 738,
 482,
 567,
 582,
 1118,
 837,
 1423,
 856,
 747,
 1013,
 415,
 552,
 644,
 558,
 1088,
 1074,
 1036,
 397,
 599,
 1257,
 1165,
 651,
 734,
 417,
 587,
 920,
 1244,
 719,
 597,
 525,
 815,
 911,
 465,
 973,
 561,
 1224,
 589,
 964,
 1156,
 1231,
 619,
 1051,
 419,
 1867,
 760,
 1263,
 770,
 487,
 697,
 430,
 809,
 7,
 850,
 855,
 875,
 892,
 512,
 601,
 844,
 676,
 656,
 1252,
 1143,
 731,
 754,
 679,
 1230,
 894,
 703,
 433,
 1340,
 897,
 718,
 1161,
 16,
 2680,
 698,
 1128,
 509,
 1135,
 1408,
 827,
 588,
 522,
 1193,
 1144,
 1023,
 469,
 385,
 1245,
 1064,
 1110,
 882,
 943,
 798,
 610,
 1203,
 1022,
 643,
 571,
 445,
 1622,
 967,
 1218,
 3078,
 1205,
 1882,
 1334,
 775,
 600,
 447,
 1777,
 774,
 1313,
 1452,
 547,
 1376,
 1045,
 625,
 999,
 657,
 1063,
 1446,
 6,
 919,
 777,
 1392,
 725,
 801,
 938,
 692,
 905,
 508,
 783,
 603,
 872,
 641,
 958,
 628,
 494,
 759,
 819,
 648,
 951,
 578,
 795,
 542,
 828,
 1307,
 748,
 563,
 450,
 899,
 857,
 660,
 1681,
 572,
 573,
 811,
 890,
 681,
 1162,
 1697,
 860,
 575,
 987,
 671,
 713,
 923,
 700,
 526,
 621,
 1349,
 1171,
 736,
 785,
 1073,
 533,
 924,
 691,
 536,
 556,
 1003,
 926,
 773,
 893,
 478,
 553,
 1438,
 569,
 372,
 368,
 1059,
 1222,
 1034,
 581,
 974,
 745,
 630,
 863,
 1234,
 642,
 729,
 895,
 519,
 321,
 796,
 724,
 741,
 414,
 454,
 896,
 763,
 633,
 560,
 955,
 674,
 740,
 776,
 537,
 755,
 751,
 1590,
 709,
 570,
 0,
 953,
 3094,
 1043,
 662,
 1168,
 861,
 1479,
 1210,
 821,
 497,
 1183,
 675,
 694,
 664,
 864,
 1730,
 667,
 1277,
 585,
 620,
 1196,
 733,
 791,
 1207,
 936,
 932,
 879,
 1026,
 689,
 1047,
 637,
 685,
 1611,
 752,
 1185,
 900,
 814,
 859,
 1109,
 645,
 2260,
 711,
 555,
 867,
 652,
 682,
 854,
 1269,
 868,
 1097,
 1500,
 1236,
 613,
 1212,
 1980,
 722,
 510,
 3631,
 947,
 1075,
 ...]

In [46]:
df_raw['duration'].unique()

array([ 261,  149,  226, ..., 1246, 1556, 1868])

* Convertir age en categorial con grupos de edad de 10 años:

In [3]:
df_raw['age_bins'] = pd.cut(x=df_raw['age'], bins=[10,20,30,40,50,60,70,80,90,100])
df_raw[['age_bins','age']].head()

   age_bins  age
0  (50, 60]   56
1  (50, 60]   57
2  (30, 40]   37
3  (30, 40]   40
4  (50, 60]   56

* Insertamos las categorías 'basic.9y','basic.6y','basic4y' en 'middle_school':

In [4]:
df_raw['education'] = df_raw['education'].replace({'basic.9y': 'middle_school', 'basic.6y': 'middle_school', 'basic.4y': 'middle_school'})

* Convertir la target variable en dummy:

In [12]:
df_one = pd.get_dummies(df_raw["y"])
print(df_one)

       no  yes
0       1    0
1       1    0
2       1    0
3       1    0
4       1    0
...    ..  ...
41183   0    1
41184   1    0
41185   1    0
41186   0    1
41187   1    0

[41188 rows x 2 columns]

In [13]:
df_raw = pd.concat((df_one, df_raw), axis=1)
df_raw = df_raw.drop(["no"], axis=1)
df_raw = df_raw.drop(["y"], axis=1)
result = df_raw.rename(columns={"yes": "y"})
print(result)

       y  age          job  marital            education  default housing  \
0      0   56    housemaid  married             basic.4y       no      no
1      0   57     services  married          high.school  unknown      no
2      0   37     services  married          high.school       no     yes
3      0   40       admin.  married             basic.6y       no      no
4      0   56     services  married          high.school       no      no
...   ..  ...          ...      ...                  ...      ...     ...
41183  1   73      retired  married  professional.course       no     yes
41184  0   46  blue-collar  married  professional.course       no      no
41185  0   56      retired  married    university.degree       no     yes
41186  1   44   technician  married  professional.course       no      no
41187  0   74      retired  married  professional.course       no     yes

      loan    contact month  ... duration  campaign  pdays  previous  \
0       no  telephone   may  ...      261         1    999         0
1       no  telephone   may  ...      149         1    999         0
2       no  telephone   may  ...      226         1    999         0
3       no  telephone   may  ...      151         1    999         0
4      yes  telephone   may  ...      307         1    999         0
...    ...        ...   ...  ...      ...       ...    ...       ...
41183   no   cellular   nov  ...      334         1    999         0
41184   no   cellular   nov  ...      383         1    999         0
41185   no   cellular   nov  ...      189         2    999         0
41186   no   cellular   nov  ...      442         1    999         0
41187   no   cellular   nov  ...      239         3    999         1

          poutcome emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  \
0      nonexistent          1.1          93.994          -36.4      4.857
1      nonexistent          1.1          93.994          -36.4      4.857
2      nonexistent          1.1          93.994          -36.4      4.857
3      nonexistent          1.1          93.994          -36.4      4.857
4      nonexistent          1.1          93.994          -36.4      4.857
...            ...          ...             ...            ...        ...
41183  nonexistent         -1.1          94.767          -50.8      1.028
41184  nonexistent         -1.1          94.767          -50.8      1.028
41185  nonexistent         -1.1          94.767          -50.8      1.028
41186  nonexistent         -1.1          94.767          -50.8      1.028
41187      failure         -1.1          94.767          -50.8      1.028

       nr.employed
0           5191.0
1           5191.0
2           5191.0
3           5191.0
4           5191.0
...            ...
41183       4963.6
41184       4963.6
41185       4963.6
41186       4963.6
41187       4963.6

[41188 rows x 21 columns]